<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="ie=edge" http-equiv="x-ua-compatible">
  <title>Home</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" rel="stylesheet">
  <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" rel="stylesheet">
  <link href="/css/shards.min.css" rel="stylesheet">
  <link href="/css/hostDetail.css" rel="stylesheet">
  <link href="/css/reset.css" rel="stylesheet">
</head>

<body>
<nav th:replace="fragments/topNav :: navbar"></nav>

<section class="min-vh-100 pt-100" style="background-color: #f4f5f7;">
  <div class="t row d-flex justify-content-center align-items-center pb-3">
    <div class="t col col-lg-6 mb-4 mb-lg-0">
      <div class="card mb-3" style="border-radius: .5rem;">
        <div class="t row g-0">
          <div class="col-md-3 gradient-custom text-center text-white"
               style="border-top-left-radius: .5rem; border-bottom-left-radius: .5rem;">
            <a class="btnRegister" th:href="@{'/host/' +${motel.hostId}}" value="Quay Lại">Quay Lại</a>
            <p></p>
            <img alt="Avatar"
                 class="img-fluid my-5"
                 th:src="${motel.image}"
                 style="width: 400px; height: 350px"
                 src=""/>
            <h5 th:text="${motel.name}"></h5>
            <p th:text="'Diện Tích: ' + ${motel.area} + ' M^2'"></p>
            <h6 th:text="'Loại Phòng: ' + ${motel.type}"></h6>
            <p class="m-1" th:text="'Giá Phòng: ' + ${motel.price} + ' Đồng/Tháng'"></p>
            <p class="m-1" th:text="'Giá Điện: ' + ${motel.electricityPrice} + ' Đồng/Tháng'"></p>
            <p class="m-1" th:text="'Giá Nước: ' + ${motel.waterPrice} + ' Đồng/Tháng'"></p>
          </div>
          <div class="col-md-9">
            <div class="row m-2 p-2 d-flex justify-content-between">
              <h3 class="col">Thông Tin Khách Đặt</h3>
              <form method="post" action="#" th:action="@{'/motel/checkout/' +${motel.id}}" th:if="${booking != null}">
                <button type="submit" class="col btn btn-primary" value="Trả Phòng">Trả Phòng</button>
              </form>
            </div>
            <div class="row m-5" th:if="${booking != null}">
              <div class="d-flex flex-row">
                <h4 class="m-1">Tên Khách Đặt:</h4>
                <p class="m-1" th:text="${booking.customerName}"></p>
              </div>
              <div class="d-flex flex-row">
                <h4 class="m-1">Số Điện Thoại Liên Hệ:</h4>
                <p class="m-1" th:text="${booking.customerPhoneNumber}"></p>
              </div>
              <div class="d-flex flex-row">
                <h4 class="m-1">Ngày Đặt:</h4>
                <p class="m-1" th:text="${booking.startDate}"></p>
              </div>
              <div class="d-flex flex-row">
                <h4 class="m-1">Số Tháng Đặt</h4>
                <p class="m-1" th:text="${booking.numberMonth} + ' Tháng'"></p>
              </div>
              <div class="d-flex flex-row">
                <h4 class="m-1">Thông Tin Thêm:</h4>
                <label>
                  <textarea disabled class="m-1" th:text="${booking.noteByCustomer}"></textarea>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"></script>
<script src="/js/address.js"></script>
<script src="/js/validNumber.js"></script>
</body>
</html>